@{
    ViewData["Title"] = "TestApp";
}

    <div class="container">
        <h1 class="text-center display-4">Задание 1 - Сложение каждого второго нечетного числа</h1>
        <div class="row">
            <label class="col-12 mb-3">Массив чисел через пробел</label>
        </div>
        <div class="row">
            <input class="col-10" value="" id="Text1" placeholder="Введите массив">
            <button class="col-2" id="BtnText1">Сложить</button>
        </div>
        <div class="row">
            <label class="col-12 mt-3" id="ResultText1"></label>
        </div>

        <h1 class="text-center display-4">Задание 2 - Сложение двух непустых связанных списков</h1>
        <div class="row">
            <label class="col-12 mb-3">Два числа через пробел</label>
        </div>
        <div class="row">
            <input class="col-10" value="" id="Text2" placeholder="Введите числа">
            <button class="col-2" id="BtnText2">Сложить</button>
        </div>
        <div class="row">
            <label class="col-12 mt-3" id="ResultText2"></label>
        </div>

        <h1 class="text-center display-4">Задание 3 - Палиндром-тест</h1>
        <div class="row">
            <label class="col-12 mb-3">Строка для проверки</label>
        </div>
        <div class="row">
            <input class="col-10" value="" id="Text3" placeholder="Введите строку">
            <button class="col-2" id="BtnText3">Проверить</button>
        </div>
        <div class="row">
            <label class="col-12 mt-3" id="ResultText3"></label>
        </div>
    </div>